/* styles.css */

body {
    padding-top: 0px;
    margin-bottom: 100px; /* Agregamos margen inferior para dejar espacio al pie de página */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Cambiamos el color de fondo a oscuro para mayor contraste */
    color: white; /* Cambiamos el color del texto a blanco para mayor contraste */
    padding: 10px 0; /* Agregamos un poco de relleno al pie de página */
}
